*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    height: 1000px;
    text-align: center;
}
.width{
    width: 90%;
    margin: 0 auto;
}

.banner{
    background-image: url(./assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    text-align: center;
}
.banner_content{
    padding: 40px;
}
.banner img{
    height: 100px;
    padding: 10px;
}
.banner h1{
    font-weight: 900;
    padding: 10px 60px;
}
.banner p{
    padding: 10px 20px;
    padding-bottom: 20px;
}
.banner a{
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
}
.why_web_development{
    background-color: rgba(13, 19, 33, 0.02);
    padding: 50px 0;
}
.why_web_head{
    padding: 30px 50px;
}
.why_web_head h2{
    padding: 10px 0;
}
.why_web_head p{
    padding: 10px 0;
}

.why_web_card{
    display: flex;
    text-align: left;
    background-color: white;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 30px;
}
.card_content h3{
    padding: 20px 10px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
}
.card_content p{
    padding: 10px;
}
.card_content a{
    text-decoration: none;
    padding: 10px;
    color: #0D1321;
    border: 1px solid #0D1321;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
}
.ins_head h3{
    font-weight: 900;
    font-size: 20px;
    padding: 20px;
}
.ins_head p{
    padding: 0 100px 30px;
}
iframe{
    height: 400px;
    width: 90%;
    border-radius: 10px;
}